<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DS ASI</title>
    </head>
    <body>
        <div class="container">
            <h1>Video</h1>
            <div class="video-container">
                <!-- Ajoutez un élément de texte pour le message de chargement -->
                <p id="loading-text">Chargement de la vidéo...</p>
                <img id="video-stream" src="" />
            </div>
        </div>
        <script>
            // Fonction pour charger le flux vidéo dans la balise <img>
            function loadVideoStream() {
                var video = document.getElementById("video-stream");
                video.src = "{{ url_for('video_stream_file') }}";

                // Ajoutez un écouteur d'événements pour cacher le texte de chargement une fois la vidéo chargée
                video.addEventListener("load", function () {
                    var loadingText = document.getElementById("loading-text");
                    loadingText.style.display = "none";
                });
            }

            // Charger le flux vidéo et exécuter la fonction de test lorsque la page est chargée
            window.addEventListener("load", function () {
                loadVideoStream();
            });
        </script>
    </body>
</html>
